$mobil: 400px;
$tablet: 760px;
$desktop: 1024px;
$desktop-xl: 1440px;
$widescreen: 1920px;

@mixin mobil {
  @media (max-width: #{$mobil}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobil}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop-xl - 1px}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-xl-up {
  @media (min-width: #{$desktop-xl}) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: #{$widescreen}) {
    @content;
  }
}
