@use 'utils/reset';
@use "utils/hidden";
@use "general/header";
@use "general/frontpage";
@use "general/footer";
@use "general/headline";
@use "general/about";
@use "general/contact";
@use "general/projects";
@use "general/single-project";
@use "settings/media";
@import "settings/colors";
@import "settings/fonts";
@import "settings/breakpoints";
html {
  background-color: $backgroundColor;
  color: $primaryColor;
}

body {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  font-size: 16px;
  font-family: $textFont;

}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background:
          url("../img/background.webp") no-repeat center center / cover,
          #000;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

.cursor {
  position: fixed;
  pointer-events: none;
  transform: translate(-40%, -40%);
  z-index: 2;
  transition: transform 0.3s ease-out;
  path,svg{
    transition: fill 0.3s ease;
  }
  path{
  fill: rgba(255, 131, 93, 0.7);

  }
}