@import 'utils/reset';
@import "utils/hidden";
@import "general/header";
@import "general/frontpage";
@import "general/footer";
@import "general/headline";
@import "general/about";
@import "general/contact";
@import "general/projects";
@import "settings/media";
@import "settings/colors";
@import "settings/fonts";
html {
  background-color: $backgroundColor;
  color: $primaryColor;
}
body {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  font-size: 16px;
  font-family: $textFont;
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../img/background.webp") no-repeat center center / cover;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

