@use 'utils/reset';
@use "utils/hidden";
@use "utils/cursor";
@use "utils/bold";
@use "utils/cloud";
@use "general/header";
@use "general/frontpage";
@use "general/footer";
@use "general/headline";
@use "general/about";
@use "general/contact";
@use "general/projects";
@use "general/single-project";
@use "settings/media";
@import "settings/colors";
@import "settings/fonts";
@import "settings/breakpoints";
html {
  background-color: $backgroundColor;
  color: $primaryColor;
}

body {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  font-size: 16px;
  font-family: $textFont;
  line-height: normal;

}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../img/background.webp") no-repeat center center / cover, #000;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}
.js-only {
  display: none;
}
.js-enabled .js-only {
  display: block;
}
:focus {
  outline: 3px solid projects.$primaryColor;
  outline-offset: 2px;
}