@import "../settings/fonts";
@import "../settings/colors";
@import "../settings/breakpoints";

.forms {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;

  &_information {
    text-align: center;

    &_content {
      p {
        margin-top: 1.5rem;
      }

      margin-bottom: 3rem;
    }

    &_title {
      font-size: 1.25rem;
      font-family: $headFont;
    }

    &_container {
      position: relative;
        margin: 3.125rem 2rem;

      .underline {
        position: absolute;
        height: 1rem;
        width: 6.25rem;
        top: 10px;
        left: -20px;
        z-index: -1;

      }

      .rightCloud {
        position: absolute;
        top: -60px;
        right: -80px;
      }
    }
  }

  .form {


    &_fields {
      position: relative;

      .bigCloud {
        position: absolute;
      }

      .b1 {
        left: -200px;
        top: 50px;
      }

      .b2 {
        right: -200px;
        bottom: 50px;
      }

      .field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 0.625rem;
        margin-bottom: 2rem;
        position: relative;

        .round {
          position: absolute;
          width: 3.125rem;
          height: 3.125rem;
          color: $thirdColor;
          right: -15px;
          z-index: -1;
        }

        input, textarea {
          width: 70vw;
          max-width: 450px;
          padding: 0.8rem;
          border-radius: 0.4rem;
          font-family: $textFont;
        }
      }
    }

    &_submit {
      display: flex;
      justify-content: center;

      .btn {
        font-family: $textFont;
        width: 70vw;
        max-width: 450px;
        padding: 0.5rem;
        border-radius: 0.4rem;
      }
    }
  }
}
.field_success{
  text-align: center;
}
