@import "../settings/fonts";
@import "../settings/colors";


.single_projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  &_head {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .single_projet_title {
      font-size: 1.5rem;
      position: absolute;
      bottom: 0.8rem;
      background-color: $backgroundColor;
      padding: 0.3rem;
      border-radius: 0.6rem;
    }

    .border {
      width: 360px;
      height: 100%;
      position: absolute;
    }

    img {
      max-height: 200px;
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: 0 -20px;
      border-radius: 50px;
    }
  }
  &_content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 0.4rem;
    margin-bottom: 2rem;

    &:nth-of-type(3) {
      flex-direction: row;
      justify-content: end;

    }

    &:nth-of-type(5) {
      text-align: end;
    }

    p {
      &:first-child {
        font-weight: bold;
      }
    }

    .single_projet_galerie {
      display: flex;
      gap: 1rem;
      justify-content: center;

      img {
        min-width: 120px;
        max-height: 120px;
        object-fit: cover;
        border-radius: 10px;

      }
    }
  }
}
