@import "../settings/fonts";
@import "../settings/colors";
@import "../settings/breakpoints";


.single_projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  &_head {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 6.5rem;

    .single_projet_title {
      font-size: 1.5rem;
      position: absolute;
      bottom: 0.8rem;
      background-color: $backgroundColor;
      padding: 0.3rem;
      border-radius: 0.6rem;
    }

    .border {
      width: 71vw;
      max-width: 52.5rem;
      height: 110%;
      position: absolute;
      top: -15px;
    }

    img {
      width: 70vw;
      max-width: 52.5rem;
      max-height: 22.5rem;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: .625rem;
    }
  }

  &_content {
    display: flex;
    flex-direction: row-reverse;
    width: 80vw;
    gap: 1rem;
    margin-bottom: 4rem;
    justify-content: start;
    @include tablet-up {
      width: auto;

    }
    &:nth-of-type(3) {
        justify-content: end;
      @include tablet-up {
        flex-direction: row;
      }
    }

    &:nth-of-type(5) {
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      text-align: center;
    }

    picture {
      width: fit-content;

      .single_project_img {
        display: none;

        @include tablet-up {
          display: block;
          min-width: 12rem;
          max-height: 12rem;
          object-fit: cover;
          border-radius: 0.625rem;
        }
      }
    }

    .single_project_text {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      max-width: 400px;
      transition: max-width 0.8s ease-in-out;
      @include desktop-xl-up {
      max-width: 600px;
      }
      }

    p {
      font-size: 1.2rem;
      @include desktop-xl-up {
      font-size: 1.4rem;
      }
      &:first-child {
        font-size: 1.5rem;
        font-weight: bold;
        @include desktop-xl-up {
          font-size: 1.7rem;
        }
      }
    }

    .single_projet_galerie {
      display: flex;
      gap: 1rem;
      justify-content: center;

      img {
        min-width: 7.5rem;
        max-height: 7.5rem;
        object-fit: cover;
        border-radius: 0.625rem;
        @include tablet-up {
          min-width: 12rem;
          max-height: 12rem;
        }
      }
    }
  }
}
