@import "../settings/fonts";
@import "../settings/colors";
@import "../settings/breakpoints";
@import '@splidejs/splide/css';


.single_projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;

  .rightCloud, .bigCloud {
    position: absolute;
  }

  .bigCloud {
    top: 0;
  }

  .rightCloud {
    right: 0;
  }

  &_head {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 6.5rem;

    .single_projet_title {
      font-size: 1.5rem;
      position: absolute;
      bottom: 0.8rem;
      background-color: $backgroundColor;
      padding: 0.3rem;
      border-radius: 0.625rem;
    }

    .border {
      width: 71vw;
      max-width: 52.5rem;
      height: 110%;
      position: absolute;
      top: -15px;
    }

    img {
      width: 70vw;
      max-width: 52.5rem;
      max-height: 22.5rem;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: .625rem;
    }
  }

  .single_projet_content:last-of-type {
    .single_project_text {
      max-width: none;

    }
  }

  &_content {
    display: flex;
    flex-direction: row-reverse;
    width: 80vw;
    gap: 1rem;
    margin-bottom: 4rem;
    justify-content: start;
    @include widescreen {
      width: auto;

    }

    &:nth-of-type(3) {
      justify-content: end;
      @include tablet-up {
        flex-direction: row;
      }
    }

    &:nth-of-type(5) {
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      text-align: center;

      p.single_projet_title {
        max-width: none;
      }
    }

    .single_project_img_container {
      position: relative;

      .border {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    picture {
      width: fit-content;

      .single_project_img {
        display: none;

        @include tablet-up {
          aspect-ratio: 1 / 1;
          max-width: 16rem;
          object-fit: cover;
          border-radius: 0.625rem;
          display: block;
        }
      }
    }

    .single_project_text {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      max-width: 400px;
      transition: max-width 0.8s ease-in-out;

      @include desktop-xl-up {
        max-width: 600px;
      }
    }

    p {
      font-size: 1.2rem;
      a{
        color: $primaryColor;
      }
      @include desktop-xl-up {
        font-size: 1.4rem;
      }

      &:first-child {
        font-size: 1.5rem;
        font-weight: bold;
        @include desktop-xl-up {
          font-size: 1.7rem;
        }
      }
    }

    .splide__pagination {
      bottom: -1rem;
    }

    .splide__arrow--prev {
      left: 13rem;
      @include desktop-up {
        left: 0;

      }

    }

    .splide__arrow--next {
      right: 13rem;
      @include desktop-up {
        right: 0;
      }
    }

    .noscript-gallery, .splide {
      position: relative;

      .middleCloud {
        position: absolute;
        right: 0;
        @include desktop-up {
          right: -70px;
        }
      }
    }

    .noscript-gallery {
      display: flex;
      gap: 2rem;
    }

    .splide__slide, .noscript-slide {
      img {
        min-width: 7.5rem;
        max-height: 7.5rem;
        object-fit: cover;
        border-radius: 0.625rem;
        @include tablet-up {
          min-width: 12rem;
          max-height: 12rem;
          border-radius: 0.625rem;

        }
      }
    }
  }
}

.other_projects {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2.5rem;


  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;

  }

  .project_item_title {
    text-align: center;
  }

  .project_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    div {
      position: relative;

      .border {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .other_projects_grid {
    display: flex;
    gap: 1.2rem;
  }

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 12rem;
    object-fit: cover;
    border-radius: 0.625rem;
    display: block;
  }
}

abbr {
  text-decoration: none;
}
